@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.FR_Container {
    width: 100%;
    padding: 3rem 1rem; 
    box-sizing: border-box; 

}

.FR_items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
}
.FR_items>button{
    border: 0;
    background-color: transparent;
    margin: 0.5rem;
}

.FR_items > p {
    width: 20rem;
    font-size: 1.6rem;
    margin: 0; 
    font-family: 'Nunito', sans-serif;
    color: RGB(125,127,124);
}

.horizontal-line2 {
    border: none;
    width:  80rem;
    border-top: 0.1rem solid RGB(125,127,124);
    margin-top: 0.5rem;
    margin-right: 0;
}
.horizontal-line3 {
    border: none;
    width:  10rem;
    border-top: 0.1rem solid RGB(125,127,124);
    margin-top: 0.5rem;
    margin-right: 0;
}
button svg{
    width: 14 !important;
    height: 9 !important;
}
@media (max-width: 768px) {
    .Favorites_items > i {
        font-size: 1.2rem; 
    }
    
    .Favorites_items > p {
        font-size: 1.4rem; 
    }
    
    .horizontal-line {
        width: 70%; 
    }
}

#date-fichier-recent{
    border-radius: 3px;
    border: 1px solid RGB(125,127,124);
    background-color: transparent;
    color: #808080;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    width: 10rem !important;
}
#date-fichier-recent::-webkit-calendar-picker-indicator{
    filter: invert(72%) sepia(0%) saturate(749%) hue-rotate(186deg) brightness(93%) contrast(90%);
}