@font-face {
    font-family: 'nunito';
    src: url('../../../../../public/fonts/Nunito-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('../../../../../public/fonts/BarlowSemiCondensed-Regular.ttf');
}

.p3-body-content{
    height: 100%;
}
.p3-upper-content{
    height: 27%;
    padding: 30px;
    position: relative;
}
.p3-upper-content h4{
    font-family: 'nunito', sans serif;
    font-weight: 700;
    color: black !important;
}
.p3-upper-content p{
    font-family: 'nunito', sans serif;
    font-weight: 500;
    color: #58595A;
}
.p3-middle-content{
    height: 55%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}
.p3-middle-left-content{
    flex: 50%;
}
.p3-middle-right-content{
    flex: 50%;
}
.card{
    margin-top: 4px;
    width: 90%;
    border: 1px solid black;
    border-radius: 13px;
}
.card-body{
    padding: 7px;
}
.search-div{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
    display: flex;
}
.search-input{
    flex: 85%;
    border: none;
    font-family: 'nunito', sans serif;
    padding-left: 10px;
}
.search-input:focus{
    outline: none;
}
.search-icon-span{
    flex: 5%;
}
.search-icon-span img{
    width: 17px;
    height: 17px;
}

.checking-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 3px;
    margin-bottom: 3px;
    height: 20px;
    font-family: 'nunito', sans-serif;
}
.db-champs{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'nunito', sans-serif;
}
.form-check-input{
    border: 1px solid black;
}
.db-champs-g1{
    flex: 50%;
}
.db-champs-g2{
    flex: 50%;
    padding-left: 10px;
    border-left: 1px solid black;
}

.div-buttons{
    font-family: 'nunito', sans-serif;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.div-button-apply{
    flex: 49%;
    order: 2;
}
.apply-btn{
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 6px;
}
.div-button-decline{
    flex: 49%;
}
.decline-btn{
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 4px;
}
.p3-middle-right-content{
    font-family: 'nunito', sans-serif;
}
.middle-right-content-checked{
    font-weight: bold;
    color: black !important;
}
.middle-right-content-selected{
    color: #277ADB;
}
.upper-middle-right-content{
    display: flex;
    justify-content: space-between;
}
.bottom-middle-right-content{
    display: flex;
    flex-wrap: wrap;
}
.divs-middle-right-content{
    font-family: 'BarlowSemiCondensed', sans-serif;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: 5px;
    background-color: #12372c;
    color: #0BB783;
    border-radius: 8px;
}
.p3-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'nunito', sans-serif;
}
.checking-div span{
    color: black !important;
}
.form-check-label{
    color: black !important;
}
.select-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    font-family: 'nunito', sans serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 17px;
    cursor: pointer;
    width: 90%;
  }
  
  .button-text {
    margin-right: auto;
    color: black !important;
  }
  
  .arrow-icon {
    width: 12px;
    height: 12px;
  }
  .hidden{
    display: none;
  }